<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입페이지 - 사업자</title>
</head>
<body>
<h1>회원가입페이지 - 사업자</h1>
<hr/>
<form action="/bizJoin" method="post">
	<input type="text" name="memId" placeholder="memId"/> <br/>
	<input type="password" name="memPw" placeholder="memPw"/> <br/>
	<input type="text" name="memNick" placeholder="memNick"/> <br/>
	<input type="text" name="memName" placeholder="memName"/> <br/>
	<input type="email" name="memEmail" placeholder="memEmail"/> <br/>
	<input type="text" name="memTel" placeholder="memTel"/> <br/>
	<input type="text" name="memBizNum" placeholder="memBizNum"/> <br/>
	<input type="text" name="memBizName" placeholder="memBizName"/> <br/>
	<button>회원가입</button>
</form>
</body>
</html>