body {
  margin: 0;
}

.fboardContent{
  max-height: 500px;
}

@font-face {
  font-family: 'Bold';
  src: url('./font/NanumSquareRoundOTFR.otf');
}
.App {
  font-family: "Bold";
}

body {
  margin: 0;
}
